.imagen-servicios{
    position: inherit;
    align-items: center;
    height: 400px;
    width: 100%;
}

.titulo-servicios{
    font-size: 3rem;
    font-family: $font-family;
    margin-top: 50px;
    margin-bottom: 50px;
}
