.faqs {
    margin-top: 20px;

    h2{
        font-size: 2,5rem; 
        font-family: 'roboto';
        margin-top: 20x ;
        text-align: left;
        margin-bottom: 5px;

    }
    p{
        text-align: left;
        margin-top: 5px;
        margin-left: 0%;
        padding: 0%;
        padding-top: 20px;
        margin-bottom: 10px;
}
}